*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

}
.background-container{
    font-family: 'Times New Roman', Times, serif;
    background-image: url(./images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.shadow{
    position: relative;
    margin: 200px auto;
    height: auto;
    margin-top: 40px;
    border-radius:5px;
    padding-bottom: 20px;
    background: linear-gradient(0deg,rgb(250, 247, 247),#faf8f8);
}
.shadow:before,.shadow::after{
    content: '';
    position:absolute;
    top:-3px;
    left: -3px;
    background: linear-gradient(45deg,#fb0094,#0000ff,#00ff00,#ffff00
    ,#ff0000,#fb0094,#0000ff,#00ff00,#ff0000);
    background-size: 400%;
    width:calc( 100% + 6px);
    height:calc(100% + 6px);
    z-index: -1;
    border-radius: 34px;
    animation: animation 16s linear infinite;
}

@keyframes animation{
    0%
    {
        background-position:0 0;

    }
    50%
    {
        background-position: 300% 0;

    }
    100%{
        background-position:0 0;

    }
}
.container{
    padding: 1rem;
    max-width: fit-content;
    margin: 50px auto;
    border: 1px solid;
    background: #000;
    border-color: rgb(213, 220, 226) rgb(213, 220, 226) rgb(184, 194, 204);
    border-radius: 32px;
}

.result_container{
    border: 1px solid gray;
    outline: none;
    margin-bottom: 1rem;
    border-radius: 10px;
    background-color: white;
    max-width: 410px;
    min-height: 3rem;
    font-size: 3rem;
    font-weight: 500;
    text-align: right;
    padding: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

@keyframes animate-1{
    0%
    {
        background-position:0 0;

    }
    50%
    {
        background-position: 300% 0;

    }
    100%{
        background-position:0 0;

    }
}
.btn-container{
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.btn-container button{
    min-width: 5rem;
    aspect-ratio: 1/0.75;
    border-radius: 10px;
    border: 1px solid rgb(199, 199, 239);
    font-size: 1rem;
    background: linear-gradient(145deg, #0002, #fff9);
    cursor: pointer;
}

.btn-container button:hover{
    background: #fff;
    font-weight: bold;
}

.btn-container button:focus{
    outline: #4646d6;
    border-color:red;
    font-weight: bold;
}

.btn-container .btn-control{
    background:blue;
}

.btn-container .btn-control:hover{

    color: green;

}

.btn-control.delete{
    font-size: 1.2rem;
    color:white;
    cursor: auto;
    background: red;
}

.btn-control.delete i{
    opacity: .5;
}

.btn-control.delete.active{
    cursor: pointer;
}

.btn-control.delete.active i{
    opacity: 1;
    
}

.btn-container .operator{
    font-size: 1.3rem;
}

.btn-container .negate, .btn-container .parcent, .btn-container .operator{
    background: linear-gradient(145deg, rgba(0,0,0,0.8), rgba(0,0,0,0.6));
    color: #fff;
}

.btn-container .negate:hover, .btn-container .parcent:hover, .btn-container .operator:hover{
    background: linear-gradient(145deg, rgba(0,0,0,0.6), rgba(0,0,0,0.8));
}

.btn-container .equals{
    background: linear-gradient(145deg, #92280e, #92280e, #db3b13);
    color: #fff;
}

.btn-container .equals:hover{
    color:black;
}